* {
  margin: 0;
  padding: 0;
}

html body {
  position:relative;
  font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  color:#4C555C;
  scroll-behavior: smooth;
  height: 100%;
}

#app{
	height:100%;
}

ul{
	list-style:none;
}

.router-link-active{
	color:#262626;

}
img{
  border:none;
}

button{
  background-color:rgba(255,255,255,0);
  border:none;
}


input,textarea{
     border:none;    
      &:focus{
         outline: none;
     } 
     &::placeholder{
        font-size: inherit;
        
     }
}
 

@media screen and (max-width: 450px) {
  body{
     font-size: 14px;
  }
}
@media screen and (max-width: 900px) , screen and (min-width: 450px) {
  body{
     font-size: 15px;
  }
}
@media screen and (min-width: 900px) {
  body{
     font-size: 15px;
  }
}