* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  
}


body {
  position:relative;
  font-size: 18px;
  height: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}


#app{
	height:100%;
}

ul{
	list-style:none;
}

.router-link-active{
	color:#262626;

}
img{
  border:none;
}

button{
  background-color:rgba(255,255,255,0);
  border:none;
}

.detail{
  display: inline-block;
  transition: 1s;
}
.detail:hover{
   transform: translateX(10px);
}

input{
 border:none;
}
textarea:placeholder,input::placeholder{
     color:#aaa;
}
input:focus{
  outline: none;
}


/* 

input{
  font-size:18px;
}

input::placeholder{
  color:#999;
  font-size:18px;
 }

 button{
  font-size:18px;
 }

@media screen and (max-width: 450px){
  body{
    font-size:16px;
  }
  input{
    border:none;
    border-bottom:1px solid #d1d8e6;
    padding: 4px 4px;
    font-size:16px;
  }

  

   button{
    font-size:16px;
  }
 }

input:focus{
  outline: none;
  border:1px solid #8ac
}

input[type="button"]{
  background-color:rgba(255,255,255,0);
  padding:5px 0px;
   border:1px solid #8ac;
  color:#999;
  border-radius:10px;
}
input[type="button"]:hover{
  background-color:#8ac;
  border:1px solid rgba(255,255,255,0);
  color:#fff;
} */