/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/
.page>p{
  margin:20px 0;
  line-height: 30px;
  font-stretch:30px;
  color: #4d4d4c;
}
.page h1,.page h2,.page h3{
  margin:15px 0px;
  border-bottom:1px solid #eee;
  padding: 10px 0px;
  position:relative;
}
.page h1::after,.page h2::after,.page h3::after{
  content:'#';
  position:absolute;
  right:0px;
}
.page h4,.page h5,.page h6{
  margin:10px 0px;
}
.page h1:hover, h2:hover{
  color: #3f86b5;
}

pre{
  background-color: rgba(230,230,230,0.1);
  padding:15px;
  word-wrap: break-word; 
  word-break:break-all;
  width:100%; 
 }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
 /*  font-weight: bold; */
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
